fastapi
uvicorn[standard]
python-multipart
deep-translator
edge-tts
pytesseract
Pillow
groq
python-dotenv
aiofiles
httpx
duckduckgo-search
langdetect
pypdf
python-docx
playwright
pyautogui
pydirectinput
pywinauto; sys_platform == "win32"
pygetwindow
psutil
pyperclip
pywin32; sys_platform == "win32"
pywebview
pystray
pythonnet
google-generativeai
wikipedia
openai
numpy
